.item {
  padding: 0.6rem 1.6rem;
  display: grid;
  grid-template-columns: 1.1fr 2.9fr 1fr 1fr 1fr 1fr 1fr;

  background-color: #f8f9fa;

  border-radius: 8px;
  /* border: 1.8px solid #dee2e6; */
  color: #495057;

  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.item:hover {
  background-color: #f1f3f5;
}

/* 
* DATE DIV
*/

.date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #868e96;
}

.date i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  color: #748ffc;
  color: #5c7cfa;
}

.date div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.date .month-day {
  font-size: 1.4rem;
  font-weight: 600;
}

.date .year {
  margin-top: -0.2rem;
  font-size: 1rem;
  font-weight: 500;
}

.date button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;

  background-color: transparent;
  color: #ced4da;

  border: none;
  cursor: pointer;
}

.date button:hover {
  color: #adb5bd;
}

/* 
* TITLE DIV
*/

.name {
  text-transform: none;
  display: flex;
  flex-direction: column;
  padding-left: 2.4rem;
}

.name a:link,
.name a:visited {
  text-decoration: none;
}

.name a:link:hover,
.name a:visited:hover {
  color: inherit;
  text-decoration: underline;
}

.name small {
  margin-top: -0.2rem;

  font-size: 1rem;
  font-weight: 600;

  text-transform: uppercase;

  color: #868e96;
}

/* 
* REMAINING DIV
*/

.title {
  text-transform: none;
  display: flex;
  flex-direction: column;
}

.title small {
  margin-top: -0.2rem;

  font-size: 1rem;
  font-weight: 600;

  text-transform: uppercase;

  color: #868e96;
}
