.section {
  width: 100%;
  min-height: calc(100vh - 7.2rem);

  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  /* max-width: 135rem; */

  /* display: grid;
  grid-template-columns: 1fr 1fr; */

  /* background-color: #f8f9fa; */

  overflow-y: scroll;
}

.body {
  width: 100%;
  max-width: 135rem;
  margin: 3.6rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.8rem;
  row-gap: 6.4rem;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 2.8rem;
}

.content .title {
  /* padding-left: 0.8rem; */
  font-size: 1.8rem;
  font-weight: 600;

  text-transform: capitalize;
}

.footer {
  margin-top: auto;
}
